*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  body{
    background-color: #141414;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card{
    background-color: #1F1F1F;
    width: 384px;
    padding: 40px;
    text-align: center;
    border-radius: 12px;
  }
  
  h1{
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 6px;
  }
  
  .subtitle{
    color: #C4F82A;
    font-size: 14px;
    margin-bottom: 24px;
  }
  
  /* GRID ENVELOPES */
  .envelopes{
    display: grid;
    grid-template-columns: repeat(2, 140px);
    gap: 20px;
    justify-content: center;
  }
  
  /* ENVELOPE */
  .envelope{
    width: 140px;
    height: 90px;
    background-color: #333333;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .envelope::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #2a2a2a;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
  }
  
  .envelope:hover{
    transform: scale(1.05);
  }
  
  /* PAPEL */
  .paper{
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 80px;
    background-color: #1F1F1F;
    border-radius: 6px;
    color: #FFF;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
  }
  
  .envelope:hover .paper{
    bottom: 6px;
  }
  
  /* CARTA */
  .overlay{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
  }
  
  .letter{
    background-color: #1F1F1F;
    padding: 30px;
    width: 320px;
    border-radius: 12px;
    color: #FFF;
    font-size: 14px;
    line-height: 22px;
    animation: zoom 0.3s ease;
  }
  
  .close{
    display: block;
    margin-top: 16px;
    font-size: 12px;
    color: #C4F82A;
    cursor: pointer;
  }
  
  @keyframes zoom{
    from{
      transform: scale(0.8);
      opacity: 0;
    }
    to{
      transform: scale(1);
      opacity: 1;
    }
  }
  